@charset "utf-8";
*{  margin: 0; 
    padding: 0; 
    box-sizing: 
    border-box;    
}
/*
nav{    height: 90%; 
        width: 100%;
        color: white;
}
*/
a{  cursor: pointer; 
    font-weight: bold; 
}

.neo-section{
    min-height: 430px;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 30px;
    position: relative;
}

.wm{
    width: 50%; 
    float: left;
}

.clear {
    clear: both;
}
.center {
    text-align: center;
}

.neo-container{
    max-width: 1280px;
    padding: 2% 2%;
    margin: 0 auto;
    margin-top: 90px;
}

.sombra{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0.4);
    z-index: 100;
    
}

.neo-section > .neo-container{
    position: relative;
    z-index: 110;
    
}

.texto-centro{
    color:black;
    font: 3em Arial, Helvetica, sans-serif;
    font-family: 'Unbunto', sans-serif;
    font-weight: bold;
}

.bbtn:hover{
    background-color: #4527A0;
    color: white;
}

.botoes{
    cursor: pointer;
}

.rodape{
    background-color: #4527A0;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 1.00em;
}
@media screen and (max-width: 667px) {

     nav {
        height: 100%;
        
    }
        
    .wm {
        width: 100%;
        float: none;
    }
    
    .texto-centro {
        font-size: 2em;
    }
    
    .botoes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .bbtn {
        width: 80%;
        margin: 10px 0;
    }

    .nav-link:hover {
        color: #ff0077; /* Altera a cor do texto */
        text-decoration: underline; /* Adiciona o sublinhado */
    }

   
    
}



