<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jose S Lima">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP|Open+Sans|Roboto&display=swap" rel="stylesheet">
    <title>Prejeto Academy - CADASTRO/LOGIN</title>
</head>
<body>
    <th:block th:replace="fragmentos/fragmentos :: cabecalho"></th:block>
    <!--<div th:replace="fragmentos/fragmentos :: cabecalho"></div>-->
   
   <div class="Login-Form" >
    <h1>Usuário   </h1> 
        <div class="container" >
            <div class="main-div">
                <div class="texto-header" >
                    <h2>Bem Vindo!</h2>
                    <br>
                    <h2>Cadastro de Usuário</h2>
                    <p>Por favor, insira dados do novo Usuário.</p>
                </div>
                <form th:action="@{/salvarUsuario}" method="post" th:object="${usuario}">
                    <div class="form-group">
                        <input type="text" class="form-control" th:field="*{nomeusuario}"  placeholder="Nome de Usuário" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" th:field="*{email}"  placeholder="Digite seu Email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" th:field="*{senha}" placeholder="Digite Senha" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                    <a th:href="@{/login}" class="btn btn-info" role="button">Voltar</a>
                </form>
            </div>
        </div>
   </div>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <th:block th:replace="fragmentos/fragmentos :: rodape"></th:block>
</body>
</html>