<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jose S Lima">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP|Open+Sans|Roboto&display=swap" rel="stylesheet">
    <title>Prejeto Academy</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4527A0" >
            <a class="navbar-brand" href="#">
                <img src="img/logo_header-site.png" alt="logo" width="200px"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMobile" >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navMobile" class="collapse navbar-collapse nav justify-content-end color: white;">
                <a class="nav-item nav-link" href="#">Home</a> 
                <a class="nav-item nav-link" href="#">Cadastrar Aluno</a> 
                <a class="nav-item nav-link" href="#">Pesquisar Aluno</a>
                <a class="nav-item nav-link btn-danger" href="#">Sair</a>
            </div>  
        </nav>
    </header>
    <section class="neo-section" style="background-image: url('img/bg-index.jpg');" >
        <div class="center  neo-container">
            <h1 class="texto-centro">Sistema de Gerenciamento de alunos</h1>
            <div class="sombra"></div>
            
            <div class="botoes wb   nav justify-content-center">
                <button type="button" class="bbtn btn btn-primary  m-5" >CADASTRAR ALUNO</button>  
                <BUtton type="button" class="bbtn btn btn-primary  m-5">PESQUISAR ALUNO</BUtton>
                
            </div>
        </div>

    </section>
    <footer>
        <div class="rodape">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>© 2025 Prejeto Academy. Todos os direitos reservados.</p>
                    </div>
                    <div class="col-md-6 text-end">
                        <p>Desenvolvido por Jose S . Lima. Contado : limasilvalima@hotmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/webjars/bootstrap/5.3.1/js/bootstrap.min.js"></script>
    
</body>
</html>